<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Promoción</title>

    <!-- Incluye solo los estilos y scripts necesarios para la vista crear_promocion -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h2 style="font-weight: bold;">Crear Promoción</h2>
    <hr>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.name == 'fecha_inicio' or field.name == 'fecha_fin' %}
                    {{ field }}
                {% elif field.name == 'tipomonto' %}
                    <select class="form-control" name="{{ field.name }}">
                        <option value="1" {% if field.value == '1' %}selected{% endif %}>Cantidad</option>
                        <option value="2" {% if field.value == '2' %}selected{% endif %}>Monto</option>
                    </select>
                {% else %}
                    {{ field }}
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Guardar Promoción</button>
    </form>
</div>

<!-- Asegúrate de que jQuery esté cargado antes de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js" integrity="sha384-pzjw8J+gvBAewd+gFNuK1zDWqIb2MSVQAZwcHYzyZ96fIKUE6h/Mb5O5qR5bmiix" crossorigin="anonymous"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>